
body{
  background: url(images/bg.gif) no-repeat ;
  background-size: cover;
}
.menu_nav {
    background-color:#eba434;
    overflow: hidden;
    list-style-type: none;
border-radius: 5px;    
border:solid 2px black;
box-shadow: 10px 5px 5px #cd0400; 


  
     
  }
  
  .menu_bouton {
    float: left;
    color:red;

    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
    padding: auto;
  margin-left: 100px;
  
  }
  
  .menu_nav li:hover {

    color: #ffc500   ;
    box-shadow: 0px 0px 10px #ffc500;
  transition: 1s all ease;
  
  
  }
ul li:hover{
background: red;
box-shadow: 0px 0px 10px rgba(rgb(202, 15, 15),1),
0px 0px 40px rgba(rgb(202, 15, 15),1),
0px 0px 60px rgba(rgb(202, 15, 15),1),

}
.logo{
  float: left;
  border: 2px solid black;
  box-shadow: 10px 5px 5px #cd0400; 

}
.logo1{
  float: right;
  border: 2px solid black;
  box-shadow: 10px 5px 5px #cd0400; 
}
@media screen and (min-width: 375px) and (max-width: 667px) {
  .conteneur-flex {
      flex-flow: row wrap;

  }

  .sous-conteneur-flex {
      margin: 0px 20px;
  }
  .menu_bouton{
    margin-left: 15px;

  }
  body{
    background: url(images/bg.gif) no-repeat ;


  }
}



/*faire un hover pour des kunai pour les element*/
/*mettre le sharingan pour l'écran de chargement dosier*/
  
